.sidebar
  h1.header
    | Code
    |
    span.header__red Red
  h2.sub
    | colour your code
    button#header_help.link (?)
  .actions
    button#paste.action.action--tab Paste
    | or
    label#upload_label.action(for="upload")
      | Upload
      input#upload.hidden(type="file", multiple)
    | files or a
    label.action(for="folder")
      | Folder
      input#folder.hidden(type="file", directory, webkitdirectory)
  textarea#code.entry
  #files_outer.files.hidden
    #clear_files.files__action Clear files
    #files
  #error.error.hidden
  details.options
    summary.options__title Options
    .options__inner
      label.options__option(for="line_numbers")
        input#line_numbers.options__option__input(type="checkbox", checked)
        | Include line numbers
      label#first_line_number_label.options__option(for="first_line_number")
        | Line numbers start from
        input#first_line_number.options__option__input.options__option__input--number(
          type="number",
          min=0,
          step=1,
          value=1,
          required
        )

main.main
  button#copy.action.action--feedback(
    title="Input code to copy the formatted version",
    disabled
  ) Copy
    .action__feedback Copied!
  #output.output.hidden
  code#placeholder.output__placeholder Input some code to see it here...

#about.modal.hidden
  .modal__inner
    h2.modal__header About
    p.modal__text Sometimes, you need to include a code snippet (or even a whole code listing!) in a text document. It can be hard to make code look good in this context, and no-one wants to do syntax highlighting by hand.
    p.modal__text Code Red makes it easy to include pretty highlighted code in your documents. Paste, drop or upload some text, files or even folders, copy the result and go!
    p.modal__text Tested with Google Docs and Microsoft Word, but should work with any rich text editor that supports pasting HTML data.
    button#modal_close.action Ok

footer.footer
  .footer__icon &copy;
  .footer__text Artemis Vellacott 2023 •
  button#footer_help.link.footer_text About
